<div class="container">
  <p>All you need to know about <strong><%= @pokemon ['name'] %></strong></p>
  <br>

  <div>
    <ul>
      <li><%= image_tag(@pokemon['sprites']['front_default']) %></li>
      <li><strong> Name: </strong><%= @pokemon['name'].capitalize! %></li>
      <li><strong> Height: </strong><%= @pokemon['height']*10 %> cm</li>
      <li><strong> Weight: </strong><%= @pokemon['weight']/10.to_f.round(1) %> kg</li>
      <li><strong> Abilities: </strong><% @pokemon['abilities'].each do |ability| %>
        <%= ability['ability']['name'].capitalize! %>,
      <% end %></li>
      <li><strong> Moves: </strong><% if @pokemon['moves'].present? %>
        <% @pokemon['moves'].first(10).each do |move| %>
          <%= move['move']['name'].capitalize! %>,
        <% end %>
      <% end %></li>
      <li><strong> Held items: </strong><% if @pokemon['held_items'].present? %>
        <% @pokemon['held_items'].first(10).each do |item| %>
          <%= item['item']['name'].capitalize! %>,
        <% end %>
      <% end %></li>
    </ul>
  </div>

<br>
<br>
<br>
Find your Pokémon !

  <%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Find a pokemon"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

</div>
