<div class="container">
  <p>All you need to know about <strong><%= @pokemon ['name'] %></strong></p>
  <br>

  <div>
    <ul>
      <li><%= image_tag(@pokemon['sprites']['front_default']) %></li>
      <li><strong> Name: </strong><%= @pokemon['name'].capitalize! %></li>
      <li><strong> Height: </strong><%= @pokemon['height'] %></li>
      <li><strong> Weight: </strong><%= @pokemon['weight'] %></li>
      <li><strong> Abilities: </strong><%= @pokemon['abilities'][0]['ability']['name'] %></li>
      <%= @pokemon['abilities'].each do |ability| %>
        <%= puts {ability[:name]} %>
      <% end %>
      <li><strong> Best moves: </strong><%= @pokemon['moves'].present? ? @pokemon['moves'][0]['move']['name'].capitalize! : nil %></li>
      <li><strong> Held items: </strong><%= @pokemon['held_items'].present? ? @pokemon['held_items'][0]['item']['name'].capitalize! : nil %></li>
    </ul>
  </div>

<br>
<br>
<br>
Find your Pokemon !

  <%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Find a pokemon"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

</div>
<% console %>
